<div style="border-radius: 10px; border: 1px solid grey; width: @(Info.Width)px; height: @(Info.Height)px; background-color: #FFFFFF">
    <div class="mud-info" style="border-radius: 10px; width: @(Info.Width)px; height: 240px;">
    </div>
    <div style="padding: 24px; color: #051039;">
        <h2>@Info.Header</h2>
        <span style="font-size: 16px;">@Info.Span</span>
    </div>
</div>